<%- include("../misc/header") %>

<section class="edit-post-page">
  <h1 class="heading2">Edit Post</h1>

  <form action="/posts/<%= post._id %>/edit" method="POST" enctype="multipart/form-data"  class="form">
    <div class="form-group">
      <label for="title">Title*</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= post.title %>"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description*</label>
      <textarea id="description" name="description" rows="4" required><%= post.description %>
      </textarea>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <input
        type="text"
        id="category"
        name="category"
        value="<%= post.category || "" %>"
      />
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input
        type="text"
        id="location"
        name="location"
        value="<%= post.location_found || "" %>"
      />
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select id="status" name="status">
        <option value="lost"  <%= post.status === "lost" ? "selected" : "" %>>Lost</option>
        <option value="found" <%= post.status === "found" ? "selected" : "" %>>Found</option>
      </select>
    </div>

     <div class="form-group">
         <label>Upload Image</label>
        <input type="file" name="photo" accept="image/*" />
     </div>

    <button type="submit" class="btn btn-a">Save Changes</button>
    <a href="/posts/<%= post._id %>" class="btn text-button-light">Cancel</a>
  </form>
</section>


