<%- include("../misc/header") %>

<section class="posts-page">
  <h1>Posts</h1>

  <div class="actions">
    <a href="/posts/new" class="btn btn-primary" id="post-create">Create New Post</a>
  </div>


  <% if (posts && posts.length > 0) { %>
    <ul class="post-list">
      <% posts.forEach(post => { %>
        <li class="post-card">
          <h2 class="post-card-title">
            <a id = "main-post-title" href="/posts/<%= post._id %>"><%= post.title %></a>
          </h2>

          <p class="post-info">
            <strong>Status:</strong> <%= post.status || "lost" %> <br>
            <strong>Category:</strong> <%= post.category || "N/A" %> <br>
            <strong>Location:</strong> <%= post.location_found || "N/A" %><br>
          </p>

          <a href="/posts/<%= post._id %>" class="btn text-button-dark">
            View Post
          </a>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No posts yet.</p>
  <% } %>
</section>

