<%- include("../misc/header") %>

<section class="show-post-page">
  <h1 id="show-post-title"><%= post.title %></h1>

  <p class="info">
    <strong class="line">Status:</strong> <%= post.status || "lost" %><br/>
    <strong class="line">Category:</strong> <%= post.category || "N/A" %><br/>
    <strong class="line">Location:</strong> <%= post.location_found || "N/A" %><br/>
    <strong class="line">Date:</strong> <%= post.date_created || "N/A" %><br/>
    <strong class="line">Description:</strong> <%= post.description || "N/A" %> <br/>
    <!-- <strong class="line">User:</strong> <%= post.user_username || "guest" %> <br/> -->

    <% if (post.photo_url) { %>
    <img 
      src="<%= post.photo_url %>" 
      alt="Image of lost item" 
      class="post-image"
    />
    <% } %>
  </p>



  <div class="actions">
    <a href="/posts" class="btn btn-a">Back</a>

    
  </div>
</section>


